<nav>
  <ul id="nav">
    <li><a href="/" class="nav-button">Home</a></li>
    <li><a href="/about-us" class="nav-button">About Us</a></li>
    <li><a href="/contact-us" class="nav-button">Contact Us</a></li>
  </ul>
</nav>