<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
    </head>
    <body>
        <div class ="container">
            <h1>Error</h1>
            <p>{{message}}</p>
            <a href="/books" class="button"> Book List</a>
        </div>
    </body>
</html>