body {
    background-color: #f4f4f9;
    font-family: 'Arial', sans-serif;
    color: #333;
    padding: 40px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #2c3e50;
}

h3 {
    font-size: 1.8em;
    color: #16a085;
    margin-bottom: 15px;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

input, textarea, select {
    width: 100%;
    padding: 12px;
    border: 2px solid #e1e1e1;
    border-radius: 8px;
    font-size: 1em;
    box-sizing: border-box;
}

input::placeholder {
    color: #999;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 15px;
}

.search-container input[type="text"] {
    width: 300px;
    padding: 12px;
    font-size: 1.1em;
    border: 2px solid #e1e1e1;
    border-radius: 8px;
    box-sizing: border-box;
}

.search-container button {
    padding: 12px 20px;
    background-color: #3498db;
    color: white;
    font-size: 1.1em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #2980b9;
}

.button {
    background-color: #e74c3c;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    margin: 30px auto;
    display: block;
    transition: background-color 0.3s ease;
    width:200px;
}

.button:hover {
    background-color: #c0392b;
}

label {
    font-size: 1.2em;
    font-weight: bold;
    color: #2c3e50;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #16a085;
    color: white;
}

.AVAILABLE {
    color: #27ae60;
    font-weight: bold;
}

.BOOKED {
    color: #e74c3c;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #2980b9;
}
